<div class="modal fade" id="exampleModalPopovers" tabindex="-1" aria-labelledby="exampleModalPopoversLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="d-flex justify-content-center p-4">
                <h3>Choose your picture</h3>
            </div>
            <div class="input-group justify-content-center p-4">
                <label class="btn btn-danger rounded-5" for="inputGroupFile04">Choose Picture</label>
                <input type="file" class="form-control" id="inputGroupFile04" style="display:none;" accept="image/png, image/gif, image/jpg, .png, .jpg, .jpeg">
            </div>
        </div>
    </div>
</div>