{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="d-flex ">
    <div class="col-3">
        <div class="d-flex flex-column" style="max-width: 200px;">
            <div class="mb-1 a-bg align-self-start d-inline-block rounded-3">
                <a id="edit-profile-link" href="{% url 'update_profile' %}" class="text-white text-decoration-none">
                    <div class="p-2">
                        Edit Profile
                    </div>
                </a>
            </div>
            <div class="mb-1 a-bg align-self-start d-inline-block rounded-3">
                <a id="update-password-link" href="{% url 'update_password' %}" class="text-white text-decoration-none">
                    <div class="p-2">
                        Update Password
                    </div>
                </a>
            </div>
        </div>        
    </div>
    <div class="col-4" style="max-width: 488px;">
        <h1 class="h3 mb-4 fw-normal text-white">Password</h1>
        <form method="post">
            {% csrf_token %}
            {{password_form.as_p}}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

{% endblock %}