*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  background: #373B44 !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4286f4, #373B44) !important;
  background: linear-gradient(to bottom, #4286f4, #373B44) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100%;
  background-size: cover;
}

.grid-container{
  margin: 20px auto;
  columns: 7;
  column-gap: 15px;
}

.grid-container .grid-box{
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.grid-container .grid-box a img{
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 1500px) {
  .grid-container{
    width: calc(100% - 40px);
    columns: 5;
  }
}

@media (max-width: 1243px) {
  .grid-container{
    width: calc(100% - 40px);
    columns: 4;
  }
}

@media (max-width: 991px) {
  .grid-container{
    columns: 3;
  }
}

@media (max-width: 740px) {
  .grid-container{
    columns: 2;
  }
}

.comment-section {
  height: 100%;
  padding: 20px;
  border-radius: 8px;
}
.comment-section img {
  border-radius: 50%;
}