*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  background: #1A4870 !important;
}

.bg-body{
  background: #1A4870;
  background: -webkit-linear-gradient(to bottom, #1A4870, #373B44);
  background: linear-gradient(to bottom, #1A4870, #373B44);
  background-size: cover;
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  min-height: 100vh !important;
}

.text-muted-white{
  color: rgb(201, 201, 201) !important;
}

.grid-container{
  margin: 20px auto;
  columns: 7;
  column-gap: 15px;
}

.grid-container .grid-box{
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.grid-container .grid-box a img{
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 1500px) {
  .grid-container{
    width: calc(100% - 40px);
    columns: 5;
  }
}

@media (max-width: 1243px) {
  .grid-container{
    width: calc(100% - 40px);
    columns: 4;
  }
}

@media (max-width: 991px) {
  .grid-container{
    columns: 3;
  }
}

@media (max-width: 740px) {
  .grid-container{
    columns: 2;
  }
}

.a-bg:hover {
  align-self: flex-start;
  display: inline-block; /* Asegura que el enlace no rompa el diseño */
  background-color: rgb(0, 0, 0, 0.6); /* Color de fondo */
}

.comment-section {
  height: 100%;
  padding: 20px;
  border-radius: 8px;
}
.comment-section img {
  border-radius: 50%;
}