{% extends 'base.html' %}
{% load static %}
{% block content %}


<form method="post">
    {% csrf_token %}   
    <div class="row mb-3">
        <label for="username" class="col-auto col-form-label">{{profile_form.username.label_tag }}</label>
        <div class="col-auto">
            {{ profile_form.username }}
        </div>
    </div>
    <div class="row mb-3">
        <label for="email" class="col-auto col-form-label">{{ profile_form.email.label_tag }}</label>
        <div class="col-2">
            {{ profile_form.email }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>


{% endblock %}