{% load static %}
<header class="p-3 mb-3">
  
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <img src="{% static 'images/logo.jpg' %}" alt="" height="32">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 text-white">Home</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"  method="post" action="{% url 'search' %}" data-bs-theme="dark">
        {% csrf_token %}
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="searched">
      </form>
      {% if request.user.is_authenticated %}
      <div class="dropdown text-end" data-bs-theme="dark">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{request.user.profile.image.url}}" alt="{{request.user.profile.image.url}}" width="32" height="32" class="rounded-circle object-fit-cover">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="{% url 'new_picture' %}">New picture...</a></li>
          <li><a class="dropdown-item" href="{% url 'profile' request.user.username %}">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a href="{% url 'logout' %}" class="dropdown-item">logout</a></li>
        </ul>
      </div>
      {% else %}
      <div class="text-end">
        <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Login</a>
        <a href="{% url 'register' %}" class="btn btn-warning">Sign-up</a>
      </div>
      {% endif %}
    </div>
  
</header>