<div class="modal fade" id="deletePost{{ pict_id }}" aria-hidden="true" aria-labelledby="deletePostLabel{{ pict_id }}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="d-flex justify-content-center p-4">
                <h3 class="modal-title">Sure?</h3>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this picture?
            </div>
            <div class="d-flex justify-content-center p-4">
                <!-- Formulario para enviar la solicitud de eliminación -->
                <form action="{% url 'delete_picture' pict_id %}" method="post" class="d-flex">
                    {% csrf_token %}
                    <div class="px-1">
                        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Cancel</button>
                    </div>
                    <div class="px-1">
                        <button type="submit" class="btn btn-danger rounded-pill">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>