{% extends 'base.html' %}   
{% block content %}

<div class="pt-5 d-flex justify-content-center align-items-center">
    <div class="col-md-2">
        <form method="post">
            <div class="text-center">
                <h1 class="h3 mb-3 fw-normal text-white">Join Picvtis today</h1>
            </div>
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary w-100 py-2">Register</button>
        </form>
    </div>
</div>

{% endblock %}